<h1><%= @submission.title %></h1>
<h4>Submitted by: <%= @submission.author %></h4>
<p>Body: <%= @submission.body %></p>

<%= link_to "Edit #{@submission.title}", edit_submission_path(@submission) %>
<p><%= link_to 'Delete Submission', submission_path(@submission),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<%= link_to "Back", submissions_path %>
