<!DOCTYPE html>
<html>
  <head>
    <title>DCMD</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <%= link_to "Sign Up", new_user_registration_path %>
          <% if !current_user %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
